.topnavtextalign{
  position: absolute !important;
  left: 85% !important;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: blue;
  text-align: center;
  border: 1px solid gainsboro;
}

.footertextalign{
  position: relative;
  top: 8px;
}

button:focus {
  outline: none !important;
  outline: none !important;
}

.headername{
  font-size: 1.25rem;
}

.flex{
  display: flex
}
